/* Mediaqueries CSS file */

.resp-section {
	padding-right: 15px;
	padding-left: 15px;

}

.resp-grid {
	padding-right: -15px;
	padding-left: -15px;
}

.mob-1, .tab-1, .pc-1,
.mob-2, .tab-2, .pc-2,
.mob-3, .tab-3, .pc-3,
.mob-4, .tab-4, .pc-4,
.mob-5, .tab-5, .pc-5,
.mob-6, .tab-6, .pc-6,
.mob-7, .tab-7, .pc-7,
.mob-8, .tab-8, .pc-8,
.mob-9, .tab-9, .pc-9,
.mob-10, .tab-10, .pc-10,
.mob-11, .tab-11, .pc-11,
.mob-12, .tab-12, .pc-12 {
	position: relative;
	min-height: 1px;
}



/*Uniquement pour mobile*/
@media screen and (max-width: 767px) {
	.resp-section {
		width: 100%
	}

	.mob-1, .mob-2, .mob-3, .mob-4, .mob-5, .mob-6,
	.mob-7, .mob-8, .mob-9, .mob-10, .mob-11, .mob-12 {
		float: left;
	}

	.mob-12{ width: 100%;}
	.mob-11 { width: 91.666666667%;}
	.mob-10 { width: 83.333333333%;}
	.mob-9 { width: 75%;}
	.mob-8 { width: 66.666666667%;}
	.mob-7 { width: 58.333333333%;}
	.mob-6 { width: 50%;}
	.mob-5 { width: 41.666666667%;}
	.mob-4 { width: 33.333333333%;}
	.mob-3 { width: 25%;}
	.mob-2 { width: 16.66666667%;}
	.mob-1 { width: 8.333333333%;}

#col1 {
	padding: 5px;
	background-color: #9f9f9f;
}

#col2 {
	padding: 5px;
	background-color: #d5d5d5;
}

}

/* Mobile et tablette*/
@media screen and (max-width: 1199px) {
#wrapper, #container, #header, #footer, #footer-top, #footer-bottom .resp-section {
		width: 100%
	}
}

/* Uniquement tablette*/
@media screen and (min-width: 768px) and (max-width:1199px) {
.resp-section {
		width: 100%
	}

	.tab-1, .tab-2, .tab-3, .tab-4, .tab-5, .tab-6,
	.tab-7, .tab-8, .tab-9, .tab-10, .tab-11, .tab-12 {
		float: left;
	}

	.tab-12{ width: 100%;}
	.tab-11 { width: 91.666666667%;}
	.tab-10 { width: 83.333333333%;}
	.tab-9 { width: 75%;}
	.tab-8 { width: 66.666666667%;}
	.tab-7 { width: 58.333333333%;}
	.tab-6 { width: 50%;}
	.tab-5 { width: 41.666666667%;}
	.tab-4 { width: 33.333333333%;}
	.tab-3 { width: 25%;}
	.tab-2 { width: 16.66666667%;}
	.tab-1 { width: 8.333333333%;}

#col1 {
	padding: 5px;
	background-color: #9f9f9f;
	margin-right: 10px;
}

#col2 {
	padding: 5px;
	background-color: #d5d5d5;
	margin-right: 10px;
}

}


/* Tablette et ordi*/
@media screen and (min-width: 768px) {
.resp-section {
		width: 100%
	}
}

/* Ordi */
@media screen and (min-width: 1200px) {
.resp-section {
		width: 100%
	}

	.pc-1, .pc-2, .pc-3, .pc-4, .pc-5, .pc-6,
	.pc-7, .pc-8, .pc-9, .pc-10, .pc-11, .pc-12 {
		float: left;
	}

	.pc-12{ width: 100%;}
	.pc-11 { width: 91.666666667%;}
	.pc-10 { width: 83.333333333%;}
	.pc-9 { width: 75%;}
	.pc-8 { width: 66.666666667%;}
	.pc-7 { width: 58.333333333%;}
	.pc-6 { width: 50%;}
	.pc-5 { width: 41.666666667%;}
	.pc-4 { width: 33.333333333%;}
	.pc-3 { width: 25%;}
	.pc-2 { width: 16.66666667%;}
	.pc-1 { width: 8.333333333%;}

.nav_buttons{
	margin:120px 0px 0px;
}

.nav_buttons ul{
	margin-right: -50px;
}

.nav_buttons li{
	margin-right: 50px;
}

#col1 {
	padding: 5px;
	background-color: #9f9f9f;
	margin-right: 10px;
}

#col2 {
	padding: 5px;
	background-color: #d5d5d5;
	margin-right: 10px;
}


}


/* Print */
@media print {

}